  {% extends 'blog/base.html' %}
  {% block content %}
  <!-- Home Design -->
  <div class="irs-home-slider">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 irs-pmz">
          <div class="irs-main-slider">
            <div class="item">
              <div class="caption animatedParent">
                <div class="irs-text-one animated fadeInnUp delay-250">Explore all of our <br>
                  vacancies with Edu Hub  <br>
                  University.</div>
                <div class="irs-text-three animated fadeInnUp delay-500">
                  <p>See opportunities from employers seeking our students SADASDASDADand alumni.</p>
                </div>
                <a href="#" class="btn btn-lg irs-btn-thm irs-home-btn animated fadeInUp delay-750"> <span> Register Today</span> </a> <a href="#" class="btn btn-lg irs-btn-thm2 irs-home-btn animated fadeInUp delay-1000"> <span> Check Courses</span> </a> </div>
              <img class="img-responsive" src="images/home/h4.jpg" alt="h4.jpg"> </div>
            <div class="item">
              <div class="caption animatedParent">
                <div class="irs-text-one animated fadeInUp delay-1250">Want to experience how life is <br>
                  on our campus?</div>
                <div class="irs-text-three animated fadeInUp delay-1500">
                  <p>Learning Resources Centre, a student social space.</p>
                </div>
                <a href="#" class="btn btn-lg irs-btn-thm irs-home-btn animated fadeInUp delay-1750"> <span> Check Courses</span> </a> </div>
              <img class="img-responsive" src="images/home/h5.jpg" alt="h5.jpg"> </div>
            <div class="item">
              <div class="caption three text-center animatedParent">
                <div class="irs-text-one animated fadeInUp delay-2000">Make a bold decision today <br>
                  and start a new fresh tomorrow. </div>
                <div class="irs-text-three animated fadeInUp delay-2250">
                  <p>Top rated for combining academic quality and outdoor reacreation.</p>
                </div>
                <a href="#" class="btn btn-lg irs-btn-thm irs-home-btn animated fadeInUp delay-2250"> <span> Register Today</span> </a> <a href="#" class="btn btn-lg irs-btn-thm irs-home-btn animated fadeInUp delay-2750"> <span> Check Courses</span> </a> </div>
              <img class="img-responsive" src="images/home/h6.jpg" alt="h6.jpg"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Why Choose Section -->
  <section class="irs-whychoose-one">
    <div class="container text-center">
      <div class="row">
      	<div class="col-lg-6 col-lg-offset-3 text-center"><h2 class="irs-wc-mtitle">Why Choose Edu Hub?</h2></div>
      </div>
      <div class="row irs-mrgnt">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-pad-zero animatedParent">
          <div class="irs-wc-box right-border animated growIn delay-250">
            <div class="irs-wcb-icon"><span class="flaticon-school text-thm1"></span></div>
            <div class="irs-wcb-titleh"><h4>More than an education</h4></div>
            <div class="irs-wcb-para">
              <p>Your university SADADADexperience gives you the knowledge, confidence and experience to help you make your world better.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-pad-zero animatedParent">
          <div class="irs-wc-box right-border animated growIn delay-250">
            <div class="irs-wcb-icon"><span class="flaticon-diploma text-thm1"></span></div>
            <div class="irs-wcb-titleh"><h4>Higher education qualification</h4></div>
            <div class="irs-wcb-para">
              <p>A university qualification makes you more attractive in the eyes of future employers and increases your earning potential.</p>
            </div>
          </div>        	
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-pad-zero animatedParent">
          <div class="irs-wc-box animated growIn delay-250">
            <div class="irs-wcb-icon"><span class="flaticon-suitcase text-thm1"></span></div>
            <div class="irs-wcb-titleh"><h4>Better career prospects</h4></div>
            <div class="irs-wcb-para">
              <p>A vocational degree can significantly improve your job prospects at the same time as giving you professional skills & knowledge.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-pad-zero animatedParent">
          <div class="irs-wc-box animated growIn delay-250">
            <div class="irs-wcb-icon"><span class="flaticon-people text-thm1"></span></div>
            <div class="irs-wcb-titleh"><h4>Personal development time</h4></div>
            <div class="irs-wcb-para">
              <p>University lets you develop as an individual. It gives you the time and opportunity to develop new interests, learn new skills.</p>
            </div>
          </div>        	
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-pad-zero animatedParent">
          <div class="irs-wc-box animated growIn delay-250">
            <div class="irs-wcb-icon"><span class="flaticon-time text-thm1"></span></div>
            <div class="irs-wcb-titleh"><h4>Flexible learning options</h4></div>
            <div class="irs-wcb-para">
              <p>University doesn’t necessarily involve several years of full-time study in one place. Flexible study options let you choose how.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 irs-pad-zero animatedParent">
          <div class="irs-wc-box animated growIn delay-250">
            <div class="irs-wcb-icon"><span class="flaticon-interface-3 text-thm1"></span></div>
            <div class="irs-wcb-titleh"><h4>Valuable employability skills</h4></div>
            <div class="irs-wcb-para">
              <p>Employers often look for the key skills that you develop throughout your degree, such as info technology skills.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Latest Course Section -->
  <section class="irs-latest-course">
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-6 irs-pad-zero style2">
  				<h2 class="irs-lc-title">Latest Courses</h2>
  				<p class="irs-lc-tpara">Edu Hub offers lots of courses, of all types. Take a moment and see our latest ones:</p>
  			</div>
  			<div class="col-lg-6 irs-pad-zero style2 irs-all-courses text-right">
          <a href="#" class="btn btn-sm irs-btn-thm"><span> See All Courses</span></a>
        </div>
  		</div>
  		<div class="row irs-mrgnt">
  			<div class="col-lg-12 irs-pad-zero">
	  			<div class="irs-lc-carousel">
	  				<div class="item animatedParent">
		  				<div class="irs-lc-grid text-center animated growIn delay-250">
		  					<div class="irs-lc-grid-thumb">
		  						<img class="img-responsive img-fluid" src="images/courses/5.jpg" alt="5.jpg">
		  						<div class="irs-lc-overlay"></div>
		  						<div class="irs-lc-price">free</div>
		  					</div>
		  					<div class="irs-lc-details">
		  						<div class="irs-lc-teacher-info">
		  							<div class="irs-lct-thumb"><img src="images/courses/s3.png" alt="s3.png"></div>
		  							<div class="irs-lct-info">with <span class="text-thm2"> Jessica Hamson</span></div>
		  						</div>
		  						<h4><a href="#">Applied Science and Best Technology (AST)</a></h4>
		  					</div>
		  					<div class="irs-lc-footer">
		  						<div class="irs-lc-normal-part">
		  							<ul class="list-inline">
		  								<li><a href="#"><i class="fa fa-users"></i> 321</a></li>
		  								<li><a href="#"><i class="fa fa-commenting"></i> 4</a></li>
		  							</ul>
		  						</div>
		  						<div class="irs-lc-hover-part">See Course</div>
		  					</div>
		  				</div>
	  				</div>
	  				<div class="item animatedParent">
		  				<div class="irs-lc-grid text-center animated growIn delay-250">
		  					<div class="irs-lc-grid-thumb">
		  						<img class="img-responsive img-fluid" src="images/courses/6.jpg" alt="6.jpg">
		  						<div class="irs-lc-overlay"></div>
		  						<div class="irs-lc-price">$35.99</div>
		  					</div>
		  					<div class="irs-lc-details style2">
		  						<div class="irs-lc-teacher-info">
		  							<div class="irs-lct-thumb"><img src="images/courses/s4.png" alt="s4.png"></div>
		  							<div class="irs-lct-info">with <span class="text-thm2"> Annie Thornburg</span></div>
		  						</div>
		  						<h4 class="irs-extraspce"><a href="#">African American Studies (AFRICAM)</a></h4>
		  					</div>
		  					<div class="irs-lc-footer">
		  						<div class="irs-lc-normal-part">
		  							<ul class="list-inline">
		  								<li><a href="#"><i class="fa fa-users"></i> 108</a></li>
		  								<li><a href="#"><i class="fa fa-commenting"></i> 19</a></li>
		  							</ul>
		  						</div>
		  						<div class="irs-lc-hover-part">See Course</div>
		  					</div>
		  				</div>
	  				</div>
	  				<div class="item animatedParent">
		  				<div class="irs-lc-grid text-center animated growIn delay-250">
		  					<div class="irs-lc-grid-thumb">
		  						<img class="img-responsive img-fluid" src="images/courses/7.jpg" alt="7.jpg">
		  						<div class="irs-lc-overlay"></div>
		  						<div class="irs-lc-price">$40.50</div>
		  					</div>
		  					<div class="irs-lc-details">
		  						<div class="irs-lc-teacher-info">
		  							<div class="irs-lct-thumb"><img src="images/courses/s5.png" alt="s5.png"></div>
		  							<div class="irs-lct-info">with <span class="text-thm2"> Jessica Hamson</span></div>
		  						</div>
		  						<h4 class="irs-extraspce"><a href="#">Bosnian, Croatian, Serbian (BOSCRSR)</a></h4>
		  					</div>
		  					<div class="irs-lc-footer">
		  						<div class="irs-lc-normal-part">
		  							<ul class="list-inline">
		  								<li><a href="#"><i class="fa fa-users"></i> 87</a></li>
		  								<li><a href="#"><i class="fa fa-commenting"></i> 27</a></li>
		  							</ul>
		  						</div>
		  						<div class="irs-lc-hover-part">See Course</div>
		  					</div>
		  				</div>
	  				</div>
	  				<div class="item animatedParent">
		  				<div class="irs-lc-grid text-center animated growIn delay-250">
		  					<div class="irs-lc-grid-thumb">
		  						<img class="img-responsive img-fluid" src="images/courses/8.jpg" alt="8.jpg">
		  						<div class="irs-lc-overlay"></div>
		  						<div class="irs-lc-price">free</div>
		  					</div>
		  					<div class="irs-lc-details style2">
		  						<div class="irs-lc-teacher-info">
		  							<div class="irs-lct-thumb"><img src="images/courses/s6.png" alt="s6.png"></div>
		  							<div class="irs-lct-info">with <span class="text-thm2"> Meryl Hawkinson</span></div>
		  						</div>
		  						<h4><a href="#">Chemical & Biomolecular Engineering</a></h4>
		  					</div>
		  					<div class="irs-lc-footer">
		  						<div class="irs-lc-normal-part">
		  							<ul class="list-inline">
		  								<li><a href="#"><i class="fa fa-users"></i> 210</a></li>
		  								<li><a href="#"><i class="fa fa-commenting"></i> 10</a></li>
		  							</ul>
		  						</div>
		  						<div class="irs-lc-hover-part">See Course</div>
		  					</div>
		  				</div>  					
	  				</div>
	  				<div class="item animatedParent">
		  				<div class="irs-lc-grid text-center animated growIn delay-250">
		  					<div class="irs-lc-grid-thumb">
		  						<img class="img-responsive img-fluid" src="images/courses/6.jpg" alt="6.jpg">
		  						<div class="irs-lc-overlay"></div>
		  						<div class="irs-lc-price">$35.99</div>
		  					</div>
		  					<div class="irs-lc-details style2">
		  						<div class="irs-lc-teacher-info">
		  							<div class="irs-lct-thumb"><img src="images/courses/s4.png" alt="s4.png"></div>
		  							<div class="irs-lct-info">with <span class="text-thm2"> Annie Thornburg</span></div>
		  						</div>
		  						<h4><a href="#">African American Studies (AFRICAM)</a></h4>
		  					</div>
		  					<div class="irs-lc-footer">
		  						<div class="irs-lc-normal-part">
		  							<ul class="list-inline">
		  								<li><a href="#"><i class="fa fa-users"></i> 108</a></li>
		  								<li><a href="#"><i class="fa fa-commenting"></i> 19</a></li>
		  							</ul>
		  						</div>
		  						<div class="irs-lc-hover-part">See Course</div>
		  					</div>
		  				</div>
	  				</div>
	  				<div class="item animatedParent">
		  				<div class="irs-lc-grid text-center animated growIn delay-250">
		  					<div class="irs-lc-grid-thumb">
		  						<img class="img-responsive img-fluid" src="images/courses/5.jpg" alt="5.jpg">
		  						<div class="irs-lc-overlay"></div>
		  						<div class="irs-lc-price">free</div>
		  					</div>
		  					<div class="irs-lc-details">
		  						<div class="irs-lc-teacher-info">
		  							<div class="irs-lct-thumb"><img src="images/courses/s3.png" alt="s3.png"></div>
		  							<div class="irs-lct-info">with <span class="text-thm2"> Jessica Hamson</span></div>
		  						</div>
		  						<h4><a href="#">Applied Science and Best Technology (AST)</a></h4>
		  					</div>
		  					<div class="irs-lc-footer">
		  						<div class="irs-lc-normal-part">
		  							<ul class="list-inline">
		  								<li><a href="#"><i class="fa fa-users"></i> 321</a></li>
		  								<li><a href="#"><i class="fa fa-commenting"></i> 4</a></li>
		  							</ul>
		  						</div>
		  						<div class="irs-lc-hover-part">See Course</div>
		  					</div>
		  				</div>
	  				</div>
	  			</div>
  			</div>
  		</div>
  	</div>
  </section>

  <!-- Call To Action Section -->
  <section class="irs-call-to-action">
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-10">
  				<div class="irs-ca-title">Check Our Latest Events</div>
  				<div class="irs-ca-sub-title">Start joining our Edu Hub community and get yourself a license.</div>
  			</div>
  			<div class="col-lg-2">
          <div class="irs-ca-button pull-right"><a class="btn btn-default" href="#">Check Our Events</a></div>   
        </div>
  		</div>
  	</div>
  </section>

  <!-- Gallery Section -->
  <section class="irs-gallery-one">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 irs-padl-zero irs-padr-thrty">
          <div class="irs-faq-title">
            <h2>Our FAQ´s</h2>
            <p>Most important frequently asked questions from students:</p>
          </div>
          <div class="irs-faq-content">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <i class="flaticon-signs-1 icon-1"></i>
                      <i class="flaticon-signs-1 icon-2"></i>
                      How do I contact the University?
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <i class="flaticon-signs-1 icon-1"></i>
                      <i class="flaticon-signs-1 icon-2"></i>
                      What does the University's motto "Dominus Illuminatio Mea" mean?
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <i class="flaticon-signs-1 icon-1"></i>
                      <i class="flaticon-signs-1 icon-2"></i>
                      What is a DPhil?
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headignFour">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <i class="flaticon-signs-1 icon-1"></i>
                      <i class="flaticon-signs-1 icon-2"></i>
                      What are the term dates for this/next academic year?
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headignFour">
                  <div class="panel-body">
                    <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headignFive">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <i class="flaticon-signs-1 icon-1"></i>
                      <i class="flaticon-signs-1 icon-2"></i>
                      When was the University of Edu Hub founded?
                    </a>
                  </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headignFive">
                  <div class="panel-body">
                    <p>Examiners must be satisfied that the thesis represents a significant substantial piece of research, is conveyed in a lucid and scholarly manner and that candidate has a good general knowledge of the field of their thesis. </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 irs-pad-zero style2 style2">
          <div class="irs-gallery-title">
            <h2>Campus Gallery</h2>
            <p>Our campus is so beautiful that we couldn´t hesitate to showcase them.</p>
          </div>
          <div class="irs-gallery-details">
            <div class="row">
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s1.png" alt="s1.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s1.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s2.png" alt="s2.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s2.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s3.png" alt="s3.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s3.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s4.png" alt="s4.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s4.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s5.png" alt="s5.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s5.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s6.png" alt="s6.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s6.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s7.png" alt="s7.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s7.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s8.png" alt="s8.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s8.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s9.png" alt="s9.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s9.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s10.png" alt="s10.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s10.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s11.png" alt="s11.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s11.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3 col-md-2 col-lg-3 irs-padr-zero style2">
                <div class="irs-gallery-tumb">
                  <img class="img-responsive img-fluid" src="images/gallery/s12.png" alt="s12.png">
                  <div class="irs-goverlay"><a class="lightbox-image" href="images/gallery/s12.png"><span class="flaticon-search"></span></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Testimonials Section -->
  <section class="irs-testimonial2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 text-center">
          <div class="irs-testimonial-mtitle"><h2>Students Love Us</h2></div>
        </div>
        <div class="col-lg-12 irs-mrgnt">
          <div class="irs-testimonial-two">

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane animatedParent" id="testi-one">
                  <p class="animated fadeIn irs-tscoment"><span class="irs-tsc-quto">“</span> When you work full-time while studying, you need to sacrifice personal time, which meant that I took my studies seriously. My ambition was to not only to complete my degree successfully but to make the best out of the time spent studying. </p>
                </div>
                <div role="tabpanel" class="tab-pane animatedParent active" id="testi-two">
                  <p class="animated fadeIn irs-tscoment"><span class="irs-tsc-quto">“</span> When you work full-time while studying, you need to sacrifice personal time, which meant that I took my studies seriously. My ambition was to not only to complete my degree successfully but to make the best out of the time spent studying. </p>
                </div>
                <div role="tabpanel" class="tab-pane animatedParent" id="testi-three">
                  <p class="animated fadeIn irs-tscoment"><span class="irs-tsc-quto">“</span> When you work full-time while studying, you need to sacrifice personal time, which meant that I took my studies seriously. My ambition was to not only to complete my degree successfully but to make the best out of the time spent studying. </p>
                </div>
                <div role="tabpanel" class="tab-pane animatedParent" id="testi-four">
                  <p class="animated fadeIn irs-tscoment"><span class="irs-tsc-quto">“</span> When you work full-time while studying, you need to sacrifice personal time, which meant that I took my studies seriously. My ambition was to not only to complete my degree successfully but to make the best out of the time spent studying. </p>
                </div>
                <div role="tabpanel" class="tab-pane animatedParent" id="testi-five">
                  <p class="animated fadeIn irs-tscoment"><span class="irs-tsc-quto">“</span> When you work full-time while studying, you need to sacrifice personal time, which meant that I took my studies seriously. My ambition was to not only to complete my degree successfully but to make the best out of the time spent studying. </p>
                </div>
              </div>

              <!-- Nav tabs -->
              <ul class="nav irs-testi-tab nav-tabs text-center" role="tablist">
                <li role="presentation">
                  <a href="#testi-one" aria-controls="testi-one" role="tab" data-toggle="tab">
                    <img src="images/testimonial/1.png" alt="">
                  </a>
                </li>
                <li role="presentation">
                  <a href="#testi-two" aria-controls="testi-two" role="tab" data-toggle="tab">
                    <img src="images/testimonial/2.png" alt="">
                  </a>
                </li>
                <li role="presentation" class="active">
                  <a href="#testi-three" aria-controls="testi-three" role="tab" data-toggle="tab">
                    <img src="images/testimonial/4.png" alt="">
                    <ul class="list-unstyled irs-ts-comment">
                      <li><h4>Marybeth T. Lemon</h4></li>
                      <li><p>Graduated in 2016</p></li>
                    </ul>
                  </a>
                </li>
                <li role="presentation">
                  <a href="#testi-four" aria-controls="testi-four" role="tab" data-toggle="tab">
                    <img src="images/testimonial/5.png" alt="">
                  </a>
                </li>
                <li role="presentation">
                  <a href="#testi-five" aria-controls="testi-five" role="tab" data-toggle="tab">
                    <img src="images/testimonial/6.png" alt="">
                  </a>
                </li>
              </ul>              

          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Blog Latest News Section -->
  <section class="irs-blog2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 irs-padl-zero">
          <div class="irs-eh-event">
            <div class="irs-ehe-title">
              <h2>Edu Hub Events</h2>
              <p>Most important frequently asked questions from students:</p>
            </div>
          </div>
          <div class="row irs-mb-frty irs-mrgnt">
            <div class="col-md-4">
              <div class="irs-ehe-thumb">
                <img class="img-responsive img-fluid" src="images/event/s1.png" alt="s1.png">
                <div class="irs-ehe-overlay"></div>
              </div>
            </div>
            <div class="col-md-8 irs-padl-zero">
              <div class="irs-ehe-ttl"><h4>EU copyright reform: the case for a related right for press publishers</h4></div>
              <div class="irs-ehe-meta">
                <ul class="list-inline">
                  <li><a href="#"><span class="flaticon-clock text-thm2"></span> 28/02/2017</a></li>
                  <li><a href="#"><span class="flaticon-clock-1 text-thm2"></span> 11am</a></li>
                  <li><a href="#"><span class="flaticon-buildings text-thm2"></span> class 19</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row irs-mb-frty">
            <div class="col-md-4">
              <div class="irs-ehe-thumb">
                <img class="img-responsive img-fluid" src="images/event/s2.png" alt="s2.png">
                <div class="irs-ehe-overlay"></div>
              </div>
            </div>
            <div class="col-md-8 irs-padl-zero">
              <div class="irs-ehe-ttl"><h4>Glasgow RAG presents: Fright Night Valentines</h4></div>
              <div class="irs-ehe-meta">
                <ul class="list-inline">
                  <li><a href="#"><span class="flaticon-clock text-thm2"></span> 26/02/2017</a></li>
                  <li><a href="#"><span class="flaticon-clock-1 text-thm2"></span> 9am</a></li>
                  <li><a href="#"><span class="flaticon-buildings text-thm2"></span> class 108</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row irs-mb-frty">
            <div class="col-md-4">
              <div class="irs-ehe-thumb">
                <img class="img-responsive img-fluid" src="images/event/s3.png" alt="s3.png">
                <div class="irs-ehe-overlay"></div>
              </div>
            </div>
            <div class="col-md-8 irs-padl-zero">
              <div class="irs-ehe-ttl"><h4>Wednesday Lunchtime Organ Recital Series: TBC for Everyone</h4></div>
              <div class="irs-ehe-meta">
                <ul class="list-inline">
                  <li><a href="#"><span class="flaticon-clock text-thm2"></span> 24/02/2017</a></li>
                  <li><a href="#"><span class="flaticon-clock-1 text-thm2"></span> 3pm</a></li>
                  <li><a href="#"><span class="flaticon-buildings text-thm2"></span> class 32</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="irs-ehe-thumb">
                <img class="img-responsive img-fluid" src="images/event/s4.png" alt="s4.png">
                <div class="irs-ehe-overlay"></div>
              </div>
            </div>
            <div class="col-md-8 irs-padl-zero">
              <div class="irs-ehe-ttl"><h4>Music in the University Lunchtime Concert Series: Glasgow </h4></div>
              <div class="irs-ehe-meta">
                <ul class="list-inline">
                  <li><a href="#"><span class="flaticon-clock text-thm2"></span> 20/02/2017</a></li>
                  <li><a href="#"><span class="flaticon-clock-1 text-thm2"></span> 9:30am</a></li>
                  <li><a href="#"><span class="flaticon-buildings text-thm2"></span> class 40</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 irs-padl-zero">
          <div class="irs-lnews">
            <div class="irs-ln-title">
              <h2>Latest News</h2>
              <p>Edu Hub latest news and articles.</p>
            </div>
          </div>
          <div class="row irs-mb-frty irs-mrgnt">
            <div class="col-md-4 irs-padl-zero">
              <div class="irs-lenws-date text-center style2">
                <p>Feb - 21 - 2017</p>
              </div>
            </div>
            <div class="col-md-8 irs-padl-zero">
              <div class="irs-lw-ttl"><h3>EU copyright reform: the case for a related right for press publisher</h3></div>
              <div class="irs-lw-meta">
                <ul class="list-inline">
                  <li><a href="#"><span class="flaticon-interface-1 text-thm2"></span> 2 Comments</a></li>
                  <li><a href="#"><span class="flaticon-folder text-thm2"></span> Campus / Students</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row irs-mb-frty">
            <div class="col-md-4 irs-padl-zero">
              <div class="irs-lenws-date text-center style2">
                <p>Feb - 18 - 2017</p>
              </div>
            </div>
            <div class="col-md-8 irs-padl-zero">
              <div class="irs-lw-ttl style2"><h3>Researching generational change and inequality</h3></div>
              <div class="irs-lw-meta">
                <ul class="list-inline">
                  <li><a href="#"><span class="flaticon-interface-1 text-thm2"></span> 9 Comments</a></li>
                  <li><a href="#"><span class="flaticon-folder text-thm2"></span> University</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row irs-mb-frty">
            <div class="col-md-4 irs-padl-zero">
              <div class="irs-lenws-date text-center style2">
                <p>Feb - 16 - 2017</p>
              </div>
            </div>
            <div class="col-md-8 irs-padl-zero">
              <div class="irs-lw-ttl style2"><h3>The Stone Lecture</h3></div>
              <div class="irs-lw-meta">
                <ul class="list-inline">
                  <li><a href="#"><span class="flaticon-interface-1 text-thm2"></span> 12 Comments</a></li>
                  <li><a href="#"><span class="flaticon-folder text-thm2"></span> Alumni / Teachers</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row irs-mb-frty">
            <div class="col-md-4 irs-padl-zero">
              <div class="irs-lenws-date text-center style2">
                <p>Feb - 15 - 2017</p>
              </div>
            </div>
            <div class="col-md-8 irs-padl-zero">
              <div class="irs-lw-ttl style2"><h3>Wednesday Lunchtime Organ Recital </h3></div>
              <div class="irs-lw-meta">
                <ul class="list-inline">
                  <li><a href="#"><span class="flaticon-interface-1 text-thm2"></span> 10 Comments</a></li>
                  <li><a href="#"><span class="flaticon-folder text-thm2"></span> Courses</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Social Media Section -->
  <section class="irs-social-media">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-sm-6 col-md-6 text-right style2">              
          <h3 class="irs-social-media-ttl">Edu Hub Social Networks:</h3>
        </div>
        <div class="col-sm-12 col-sm-6 col-md-6">
          <div class="irs-sm-details">
            <ul class="list-inline">
              <li><a href="#"><span class="flaticon-social-3"></span></a></li>
              <li><a href="#"><span class="flaticon-social-4"></span></a></li>
              <li><a href="#"><span class="flaticon-social-1"></span></a></li>
              <li><a href="#"><span class="flaticon-social-media"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
